/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */
@import url("https://cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css");
@import url("https://cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/themes/default.css");
//Remove blue outline in Chrome
div:focus {
  outline: 0;
}

.medium-editor-element {
  border: 1px solid;
  margin: 20px;
  padding: 10px;
}
